# Dependências
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/

# Ambiente
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Prisma
prisma/migrations/dev/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
